$version: "PLUGIN_VERSION.BUILDTIMESTAMP";
$au: 1.618;

// Small devices (landscape phones, 576px and up)
$width_sm: 576;

@mixin small {
	@media only screen and (min-width: $width_sm * 1px) {
		@content;
	}
}

@mixin reset_min() {
	margin: 0;
	outline: 0;
	padding: 0;
	border: 0;
}

@mixin reset_ul() {
	@include reset_min;
	list-style: none;
}

@mixin reset() {
	@include reset_min;
	background: transparent none;
	bottom: auto;
	display: inline;

	font: {
		size: 100%;
		style: normal;
		weight: 200;
	}

	left: auto;
	line-height: $au;
	list-style: none;
	position: static;
	right: auto;
	top: auto;
	@include radius(0);
	width: unset;
	height: unset;
	text-indent: unset;
}

@mixin radius($value: var(--radius-default)) {
	-webkit-border-radius: #{$value};
	-moz-border-radius: #{$value};
	border-radius: #{$value};
}