@import '_mixin';

:root {

	--scm-spacer-base: 16px;
	--scm-spacer-8: calc(.5 * var(--scm-spacer-base));
	--scm-spacer-12: calc(.75 * var(--scm-spacer-base));
	--scm-spacer-16: var(--scm-spacer-base);
	--scm-spacer-22: calc(1.375 * var(--scm-spacer-base));
	--scm-spacer-32: calc(2 * var(--scm-spacer-base));

	--scm-font-size: 16px;
	--scm-font-size-button: var(--scm-font-size);
	--scm-font-size-dl: var(--scm-font-size);

	--scm-font-weight-thin: thin;
	--scm-font-weight-bolder: bolder;
	--scm-font-weight-bold: bold;

	--scm-padding-button-v: var(--scm-spacer-8);
	--scm-padding-button-h: var(--scm-spacer-16);
}
