@import '_mixin';

:root {
	--scm-color-primary: #fff;
	--scm-color-accent: #97f;

	--scm-spacer-base: 16px;
	--scm-spacer-8: calc(.5 * var(--scm-spacer-base));
	--scm-spacer-16: var(--scm-spacer-base);
	--scm-spacer-32: calc(2 * var(--scm-spacer-base));

	--scm-font-size: 16px;

	--scm-font-size-button: var(--scm-font-size);


	--scm-padding-button-v: var(--scm-spacer-8);
	--scm-padding-button-h: var(--scm-spacer-16);
}