@import '../_mixin';

.scm {
	&-modal {

		&-description {
			p {
				&:first-child {
					margin: {
						top: 0;
					}
				}
			}
		}

		&-button {
			&-allow {
				font: {
					weight: 600;
				}
			}

			&-deny {
				color: var(--scm-color-primary);

				background: {
					color: transparent;
				}
			}
		}
	}
}
