@import '../_mixin';

.scm {
	&-modal {
		background: {
			color: var(--scm-color-bg, #fff);
		}
		border: {
			radius: var(--scm-border-radius, 0 );
			width: 0;
		}
		padding: var(--scm-spacer-16);
		max: {
			width: var( --scm-max-length, 24em );;
		}
		&::backdrop {
			background-color: var(--scm-color-backdrop, rgba( 0, 0, 0, .7 ) );
		}
		&s {
			&-container {
			}
		}
	}
}

