@import '../_mixin';

@mixin sizes {
				width: 42px;
				height: 42px;
}

.scm-modals-container {
	.scm {
		&-modal {
			&-icon {
				padding: 0;
				@include sizes;
				button {
					@include reset;
					@include sizes;
					svg {
						@include sizes;
					}
				}
			}
		}
	}
}

