@import '../_mixin';

.scm {
	&-modal {
		&-choose {
			@include colors;
		}

		&-button {
			&-save {
				font: {
					weight: 600;
				}
			}

			&-cancel {
				color: var(--scm-color-primary);

				background: {
					color: transparent;
				}
			}
		}
	}
}
