@import '../_mixin';

.scm {
	&-modal {
		&-main {
			background: {
				color: var(--scm-color-accent);
			}
		}

		&-button {
			&-allow {
				font: {
					weight: 600;
				}
			}

			&-deny {
				color: var(--scm-color-primary);

				background: {
					color: transparent;
				}
			}
		}
	}
}